/*   background-color: rgb(82,16,30);
    #52101e */ 

body {
  font-size: .8em;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Noto Sans JP', sans-serif;
}

button {
  margin-right: 15px;
}
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.1em;
  background: rgb(111,25,43);
  background: linear-gradient(180deg, rgba(111,25,43,1) 0%, rgba(94,27,41,1) 75%, rgb(65, 32, 32) 100%);
  /* background: rgb(0,149,149);
  background: linear-gradient(196deg, rgba(0,149,149,1) 23%, rgba(0,52,52,1) 100%); */
}

h3 {
  display: block;
  text-align: center;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 25px;
}

h4 {
  margin: 15px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

header {
  box-shadow: 0px 1px 10px #444;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

li {
  font-size: .70em;
}

#icon {
  margin-right: 10px;
}
.about {
  font-size: .80em;
  margin: 0 auto;
  text-align: center;
  max-width: 55vw;

}
.active {
  color: white;
}

.blur {
  background: rgba(255, 255, 255, 0.358);
  border-radius: 12px;
  backdrop-filter: blur(2px); 
  height: 100%;
  position: relative;
}

.btn {
  background: rgb(111,25,43);
  margin-top: 20px;
}
.btn:hover {
  background: rgb(133, 47, 65);
}
.carousel-item {
  text-align: center;
}

.carousel-cont {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  height: auto;
}
.carousel-text {
  text-align: center;
  font-size: 1.1em;
}
.contact {
  box-shadow: 0px 0px 10px #444;
  border-radius: 12px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.18);
  color: black;
}
.contact, .contact>a {
  /* height: 20vh; */
  font-size: 1em;
  color: white;
  text-align: center;
}
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.con-link {
  margin-top: 10px;
  height: 10vh;
}

/* .cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
} */


.cred {
  text-decoration: underline;
}

.cred:hover {
  color: white;
}

.experience {
  /* text-align: center; */
  /* padding: 20px;  */
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.experience-box {
  box-shadow: 0px 0px 10px #444;
  border-radius: 12px;
  padding: 15px;
  margin: 25px;
  color: white;
  max-width: 700px; 
  /* background-color: rgba(255, 255, 255, 0.982); */
  background: rgba(255, 255, 255, 0.18);
  font-size: 1em;
}
.experience-header {
  text-align: center;
}

.link {
  color: white;
}

.link:hover {
  color: rgb(138, 138, 138);
}


.navbar {
  background: rgb(111,25,43);
  background: linear-gradient(0deg, rgba(111,25,43,1) 0%, rgba(94,27,41,1) 75%, rgb(65, 32, 32) 100%);
  box-shadow: 1px 2px 10px #444;
  font-size: 1.5rem;
  position: fixed;
  width: 100%;
  text-align: right;
  color: white;
}


.p-item1 {
  border-radius: 12px;
  grid-column-start: 1;
  grid-column-end: 2;
  display: inline;
  width: 100%;
  height: auto;
}

.p-item2 {
  margin: 0 auto;
  display: inline;
  font-size: .7em;
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 300px;
  max-width: 600px;
  
}

.plink {
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}

.project {
  display: grid;
  grid-template-columns: 50%, 50%;
  grid-column-gap: 50px;
}

.projpic {
  width: 100%;
  height: auto;
  border-radius: 12px;
  max-width: 400px;
  max-height: 500px;
  box-shadow: 0px 0px 10px #444;
}

.sec1 {
  text-align: center;
  margin-top: 40px;
  background-color: white;
  color: rgb(53, 53, 53);
  height: 100vh;
}
#sec1-hi {
  bottom: 0;
  font-size: 3em;
  animation: backInLeft;
  animation-duration: 2s;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Dancing Script', cursive;
  font-weight: 800;
  }

.sec2 {
  background-color: rgb(53, 53, 53);
  color: white;
  height: 100vh;
}

.sec3 {
  background-color: white;
}

.sec4 {
  background-color: rgb(53, 53, 53);
  color: white;
}

.section {
  font-size: 2em;
  padding: 50px;
  box-shadow: 0px 0px 10px #444;
}

#stavon {
  margin-top: 50px;
  width: 400px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 2px 10px #444;
}

.sta-nav {
  font-size: 2.5rem;
  text-shadow: 0px 0px 15px #444;
}

.text {
  padding: 70px;
  font-size: 1em;
}



@media only screen and (min-width: 1500px) {
  #hi {
    top: auto;
  }
  .sec2 {
    height: auto;
  }  
  .section {
    padding-left: 300px;
    padding-right: 300px;
    height: auto;
  }
  .p-item2 {
    padding: 50px;
  }
}
@media only screen and (min-width: 1300px) {
  /* body {
    font-size: 1em;
  } */
  .about {
    padding: 50px;
  }
  .carousel-item {
    font-size: .79em;
  }

  #hi {
    top: auto;
  } 
  .sec2 {
    height: 100vh;
  }
  .section {
    padding-left: 100px;
    padding-right: 100px;
    height: auto;
  }

  .text {
    font-size: .75em;
  }
}
@media only screen and (max-width: 1300px) {
  #hi {
    top: auto;
  } 
  .sec2 {
    height: auto;
  }
  .section {
    padding-left: 100px;
    padding-right: 100px;
    height: auto;
  }

  .text {
    font-size: .75em;
  }
}
@media only screen and (max-width: 1000px) {
  
  .carousel {
    font-size: .8em;
  }
  /* .carousel-text {
    font-size: .75em;
  } */
  #hi {
    top: auto;
  } 
  .experience {
    flex-direction: column;
    align-items: center;
  }
  .experience-box {
    flex: 100%;
  }
  .projpic {
    width: auto;
  }
  .sec2 {
    height: auto;
  }
  .section {
    padding-left: 100px;
    padding-right: 100px;
    height: auto;
  }

}
@media only screen and (max-width: 900px) {
  h3 {
    display: block;
  }  
  #hi {
    top: auto;
  }
  .cont {
    font-size: .95em;
  }
  .carousel-item {
    font-size: 1.2em;
  }
  #icon {
    height: 70px;
    width: 70px;
  }

  .project {
    display: block;
    text-align: center;
  }  
  .sec1 {
    margin-top: 30%;
    height: 100vh; 
  }
  .section {
    margin: 0 auto; 
    font-size: 1.5em;
    padding: 10px;
    border: none;
  }
  #stavon {
    margin-top: 35%;
  }
  .p-item2 {
    padding: 25px;
    font-size: 1em;
    display: block;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
  }
  .text {
    font-size: 1.1em;
  }
 }
 @media only screen and (max-width: 600px) {
  .projpic {
    max-width: 300px;
  }
  .contact {
    height: auto;
  }
  #stavon {
    margin: 100px;
    width: 60%;
  }
 }